services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: hoteluser
      POSTGRES_PASSWORD: hotelpassword
      POSTGRES_DB: hoteldb
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
